<style>
table {
  border-collapse: collapse;
}

table,td {
  border: 1px solid #ccc;
}
</style>

<table>
  <tr>
    <td>{{data.date}}</td>
    <td>{{data.total_cases}}</td>
    <td>{{data.new_cases}}</td>
    <td>{{data.mdh_tests}}</td>
    <td>{{data.private_tests}}</td>
    <td>{{data.total_tests}}</td>
    <td>{{data.new_deaths}}</td>
    <td>{{data.hospital_total}}</td>
    <td>{{data.hospital_current}}</td>
    <td>{{data.hospital_non_icu}}</td>
    <td>{{data.hospital_icu}}</td>
    <td>{{data.time}}</td>
  </tr>
</table>