<p><i> MinnPost provides updates on coronavirus in Minnesota Sunday through Friday. The information is published following a press phone call with members of the Walz administration or after the release of daily COVID-19 figures by the Minnesota Department of Health.</i></p>

<p><b>Here are the latest updates from {{data.date}}:</b>
<h4>{{data.total_cases}} confirmed cases; {{data.total_deaths}} deaths</h4>
{{data.new_deaths}} more Minnesotans have died of COVID-19, the Minnesota Department of Health said {{data.day_of_week}}, for a total of {{data.total_deaths}}.</p>

<p>{{data.age_groups_sentence}} {{data.new_ltc_deaths}} of the {{data.new_deaths}} deaths announced {{data.day_of_week}} were among residents of long-term care facilities. Of the {{data.total_deaths}} COVID-19 deaths reported in Minnesota, {{data.total_ltc_deaths}} have been among residents of long-term care.</p>

<p>The current death toll only includes Minnesotans with lab-confirmed positive COVID-19 tests.</p>

<p>MDH also said {{data.day_of_week}} there have been {{data.total_cases}} total confirmed cases of COVID-19 in Minnesota. The number of confirmed cases is up {{data.new_cases}} from {{data.yesterday_of_week}}’s count and is based on {{data.daily_tests}} new tests. You can find the <a href="https://mn.gov/covid19/data/response-prep/dial-back-dashboard.jsp">seven-day positive case average here.</a></p>


<p>Since the start of the pandemic, there have been {{data.total_hospital}} hospitalizations and {{data.total_icu}} ICU admissions in Minnesota due to COVID-19. More information on COVID-related hospitalizations in Minnesota <a href="https://www.health.state.mn.us/diseases/coronavirus/situation.html#hospital2">can be found here</a>. For information on <a href="https://mn.gov/covid19/data/response-prep/response-capacity.jsp">current ICU usage and capacity, click here</a>.</p>

<p>Of the {{data.total_cases}} confirmed positive cases in Minnesota, {{data.recovered}} no longer need to be isolated, meaning they are no longer believed to be contagious.</p>

<p><a href="https://www.health.state.mn.us/diseases/coronavirus/situation.html">More information on cases can be found here.</a></p>