<p><em>MinnPost provides updates on coronavirus in Minnesota Sunday through Friday. The information is published following a press phone call with members of the Walz administration or after the release of daily COVID-19 figures by the Minnesota Department of Health.</em></p>

<p>Here are the latest updates from {{data.date}}, 2021:</p>

<h4>{{data.total_cases}} cases; {{data.total_deaths}} deaths</h4>

<p>{{data.new_deaths}} more Minnesotans have died of COVID-19, the Minnesota Department of Health said {{data.day_of_week}}, for a total of {{data.total_deaths}}.</p>

<p>Of the people whose deaths were announced  {{data.day_of_week}}, {{data.age_groups_sentence_fragment}}. {{data.new_ltc_deaths}} of the {{data.new_deaths}} people whose deaths announced {{data.day_of_week}} were residents of long-term care facilities.</p>

<p>MDH also said {{data.day_of_week}} there have been {{data.total_cases}} total cases of COVID-19 in Minnesota. That number is up {{data.new_cases}} from the total announced on {{data.yesterday_of_week}} and is based on {{data.new_tests}} new tests. You can <a href="https://mn.gov/covid19/data/response-prep/dial-back-dashboard.jsp">find the seven-day positive case average here</a>.</p>

<p>The most recent data available show TK Minnesotans are hospitalized in intensive care with COVID-19, and TK are in the hospital with COVID-19 not in intensive care. You can find <a href="https://mn.gov/covid19/data/response-prep/response-capacity.jsp">more information about Minnesota's current ICU usage and capacity here</a>.</p>

<p><a href="https://www.health.state.mn.us/diseases/coronavirus/situation.html">More information on cases can be found here</a>.</p>

<h4>Today on MinnPost</h4>
<ul>
  <li>Asking yourself how long it’s been since this all started? <a href="https://www.minnpost.com/health/2020/03/how-long-has-it-been/">Us too</a>.</li>
  <li>As always, a look at the numbers on the <a href="https://www.minnpost.com/health/2020/03/tracking-the-minnesota-covid-19-numbers/">MinnPost COVID-19 dashboard</a>.</li>
</ul>

<h4>Around the web</h4>
<ul>
  <li>&nbsp;</li>
</ul>

<p>MDH’s coronavirus website: <a href="https://www.health.state.mn.us/diseases/coronavirus/index.html">https://www.health.state.mn.us/diseases/coronavirus/index.html</a></p>
<p>MDH’s phone line for COVID-19 questions, Mon.-Fri. 9 a.m. to 4 p.m: 651-297-1304</p>